
@{
    ViewData["Title"] = "NetLearning";
} 
<div class="container">
<div clas="row">
<div class="container col-sx-12 col-sm-12 col-md-8 col-lg-8" >
<article>
<p class="background-color:blue;">这里是article</p>
</article>
<section>
<p class="background-color:yellow;>这里是section</p>
</section>
</div>
<div class="container col-sx-12 col-sm-12 col-md-4 col-lg-4">
<aslide>
<p class="background-color:green;>这里是aside</p>
</aslide>
</div>
</div>
</div>

